{% extends 'HomePage/base.html' %}
{% block content %}
{% load static from static %}
<main id="main" class="">


    <div id="content" role="main" class="content-area">


        <div class="slider-wrapper relative " id="slider-1566589839">
            <div class="slider slider-nav-circle slider-nav-large slider-nav-light slider-style-normal"
                 data-flickity-options='{
            "cellAlign": "center",
            "imagesLoaded": true,
            "lazyLoad": 1,
            "freeScroll": false,
            "wrapAround": true,
            "autoPlay": 6000,
            "pauseAutoPlayOnHover" : true,
            "prevNextButtons": true,
            "contain" : true,
            "adaptiveHeight" : true,
            "dragThreshold" : 5,
            "percentPosition": true,
            "pageDots": true,
            "rightToLeft": false,
            "draggable": true,
            "selectedAttraction": 0.1,
            "parallax" : 0,
            "friction": 0.6        }'
            >

                <!--
                ========================================================================================================================================================================================================================================================================================================================
                                               BANNER 'start HERE
                ===========================================================================================================================================================================================================================================================================================================================================================

                -->
                <div class="banner has-hover has-parallax" id="banner-2058541634">
                    <div class="banner-inner fill">
                        <div class="banner-bg fill" data-parallax="-6" data-parallax-container=".banner"
                             data-parallax-background>
                            <div class="bg fill bg-fill "></div>
                            <div class="overlay"></div>
                        </div><!-- bg-layers -->
                        <div class="banner-layers container">
                            <div class="fill banner-link"></div>
                            <div id="text-box-753652189"
                                 class="text-box banner-layer x100 md-x100 lg-x100 y50 md-y50 lg-y50 res-text">
                                <div class="text ">

                                    <div class="text-inner text-left">

                                        <h8 style="font-size: 30px"><strong>દોશી સમાજ સાધારણ સભા</strong></h8>
                                        <p>૨૦૧૫માં દોશી સમાજની સૌપ્રથમ સમાજ મેળાપ સાધારણ સભાએ જગાડિય ખાતે મળી હતી તે
                                            સભાનું શુભારંભ સમાજનાં
                                            અમુક અગ્રણી કાર્યકર્તા ધ્વારા થઈ રહ્યું છે.</p>
                                    </div>
                                </div><!-- text-box-inner -->

                                <style scope="scope">

#text-box-753652189 .text {
  background-color: rgba(255, 255, 255, 0.75);
  font-size: 100%;
}
#text-box-753652189 .text-inner {
  padding: 30px 30px 30px 30px;
}
#text-box-753652189 {
  width: 60%;
}


@media (min-width:550px) {

  #text-box-753652189 {
    width: 42%;
  }

}


                                </style>
                            </div><!-- text-box -->

                            <div id="text-box-249060793"
                                 class="text-box banner-layer x95 md-x95 lg-x95 y95 md-y95 lg-y95 res-text">
                                <div class="text dark text-shadow-3">
                                </div><!-- text-box-inner -->

                                <style scope="scope">

#text-box-249060793 {
  width: 32%;
}
#text-box-249060793 .text {
  font-size: 103%;
}


                                </style>
                            </div><!-- text-box -->

                        </div><!-- .banner-layers -->
                    </div><!-- .banner-inner -->


                    <style scope="scope">

#banner-2058541634 {
  padding-top: 600px;
  background-color: rgb(255, 255, 255);
}
#banner-2058541634 .bg.bg-loaded {
  background-image: url({% static 'asset/1.png'%});
}
#banner-2058541634 .overlay {
  background-color: rgba(190, 190, 190, 0.2);
}
#banner-2058541634 .bg {
  background-position: 40% 0%;
}


                    </style>
                </div><!-- .banner -->


                <div class="banner has-hover has-parallax" id="banner-1043725245">
                    <div class="banner-inner fill">
                        <div class="banner-bg fill" data-parallax="-3" data-parallax-container=".banner"
                             data-parallax-background>
                            <div class="bg fill bg-fill "></div>

                        </div><!-- bg-layers -->
                        <div class="banner-layers container">
                            <div class="fill banner-link"></div>
                            <div id="text-box-327917477"
                                 class="text-box banner-layer x5 md-x5 lg-x5 y50 md-y50 lg-y50 res-text">
                                <div class="text box-shadow-3">

                                    <div class="text-inner text-left">

                                        <h8 style="font-size: 30px"><strong>દોશીસમાજ દ્વારા થતી પ્રવુતિ</strong></h8>
                                        <p>દોશી સમાજ દ્વારા વર્ષ ૨૦૧૫થી સાધારણ સભા સમાજ સ્નેહમિલન તથાં સમૂહલગ્નના વિવિધ
                                            કાર્યક્રમ યોજવામાં આવે છે.</p>
                                    </div>
                                </div><!-- text-box-inner -->

                                <style scope="scope">

#text-box-327917477 .text {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 100%;
}
#text-box-327917477 .text-inner {
  padding: 30px 30px 30px 30px;
}
#text-box-327917477 {
  width: 60%;
}


@media (min-width:550px) {

  #text-box-327917477 {
    width: 40%;
  }

}


                                </style>
                            </div><!-- text-box -->

                            <div id="text-box-1208227948"
                                 class="text-box banner-layer x5 md-x5 lg-x5 y90 md-y90 lg-y90 res-text">
                                <div class="text dark text-shadow-3">
                                </div><!-- text-box-inner -->

                                <style scope="scope">

#text-box-1208227948 {
  width: 32%;
}
#text-box-1208227948 .text {
  font-size: 103%;
}


                                </style>
                            </div><!-- text-box -->

                        </div><!-- .banner-layers -->
                    </div><!-- .banner-inner -->


                    <style scope="scope">

#banner-1043725245 {
  padding-top: 600px;
}
#banner-1043725245 .bg.bg-loaded {
  background-image: url({% static 'asset/1.png'%});
}


                    </style>
                </div><!-- .banner -->


                <div class="banner has-hover" id="banner-976608666">
                    <div class="banner-inner fill">
                        <div class="banner-bg fill">
                            <div class="bg fill bg-fill "></div>
                            <div class="overlay"></div>
                        </div><!-- bg-layers -->
                        <div class="banner-layers container">
                            <div class="fill banner-link"></div>
                            <div id="text-box-1046235374"
                                 class="text-box banner-layer x90 md-x90 lg-x90 y50 md-y50 lg-y50 res-text">
                                <div class="text box-shadow-3 dark">

                                    <div class="text-inner text-right">
                                        <h8 style="font-size: 30px"><strong>દોશીસમાજ દ્વારા થતી પ્રવુતિ</strong></h8>
                                        <p>દોશી સમાજ દ્વારા વર્ષ ૨૦૧૫થી સાધારણ સભા સમાજ સ્નેહમિલન તથાં સમૂહલગ્નના વિવિધ
                                            કાર્યક્રમ યોજવામાં આવે છે.</p>
                                    </div>
                                </div><!-- text-box-inner -->

                                <style scope="scope">

#text-box-1046235374 .text {
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 100%;
}
#text-box-1046235374 .text-inner {
  padding: 30px 30px 30px 30px;
}
#text-box-1046235374 {
  width: 60%;
}


@media (min-width:550px) {

  #text-box-1046235374 {
    width: 36%;
  }

}


                                </style>
                            </div><!-- text-box -->

                            <div id="text-box-1562812258"
                                 class="text-box banner-layer x90 md-x90 lg-x90 y90 md-y90 lg-y90 res-text">
                                <div class="text dark text-shadow-3">
                                </div><!-- text-box-inner -->

                                <style scope="scope">

#text-box-1562812258 {
  width: 32%;
}
#text-box-1562812258 .text {
  font-size: 103%;
}


                                </style>
                            </div><!-- text-box -->

                        </div><!-- .banner-layers -->
                    </div><!-- .banner-inner -->


                    <style scope="scope">

#banner-976608666 {
  padding-top: 600px;
}
#banner-976608666 .bg.bg-loaded {
  background-image: url({% static 'asset/1.png'%});
}
#banner-976608666 .overlay {
  background-color: rgba(0, 0, 0, 0.2);
}
#banner-976608666 .bg {
  background-position: 37% 16%;
}


                    </style>
                </div><!-- .banner -->


                <div class="banner has-hover has-parallax" id="banner-1379381385">
                    <div class="banner-inner fill">
                        <div class="banner-bg fill" data-parallax="-4" data-parallax-container=".banner"
                             data-parallax-background>
                            <div class="bg fill bg-fill "></div>
                            <div class="overlay"></div>
                        </div><!-- bg-layers -->
                        <div class="banner-layers container">
                            <div class="fill banner-link"></div>
                            <div id="text-box-1783073152"
                                 class="text-box banner-layer x5 md-x5 lg-x5 y50 md-y50 lg-y50 res-text">
                                <div class="text box-shadow-2">

                                    <div class="text-inner text-left">
                                        <h8 style="font-size: 30px"><strong>દોશીસમાજ દ્વારા થતી પ્રવુતિ</strong></h8>
                                        <p>દોશી સમાજ દ્વારા વર્ષ ૨૦૧૫થી સાધારણ સભા સમાજ સ્નેહમિલન તથાં સમૂહલગ્નના વિવિધ
                                            કાર્યક્રમ યોજવામાં આવે છે.</p>
                                    </div>
                                </div><!-- text-box-inner -->

                                <style scope="scope">

#text-box-1783073152 .text {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 100%;
}
#text-box-1783073152 .text-inner {
  padding: 30px 30px 30px 30px;
}
#text-box-1783073152 {
  width: 60%;
}


@media (min-width:550px) {

  #text-box-1783073152 {
    width: 40%;
  }

}


                                </style>
                            </div><!-- text-box -->

                            <div id="text-box-1244271047"
                                 class="text-box banner-layer x5 md-x5 lg-x5 y90 md-y90 lg-y90 res-text">
                                <div class="text text-shadow-3">
                                </div><!-- text-box-inner -->

                                <style scope="scope">

#text-box-1244271047 {
  width: 32%;
}
#text-box-1244271047 .text {
  font-size: 103%;
}


                                </style>
                            </div><!-- text-box -->

                        </div><!-- .banner-layers -->
                    </div><!-- .banner-inner -->


                    <style scope="scope">

#banner-1379381385 {
  padding-top: 600px;
  background-color: rgb(255, 255, 255);
}
#banner-1379381385 .bg.bg-loaded {
  background-image: url({% static 'asset/3.jpg'%});
}
#banner-1379381385 .overlay {
  background-color: rgba(255, 255, 255, 0.2);
}
#banner-1379381385 .bg {
  background-position: 57% 59%;
}


                    </style>
                </div><!-- .banner -->


                <div class="banner has-hover" id="banner-927110790">
                    <div class="banner-inner fill">
                        <div class="banner-bg fill">
                            <div class="bg fill bg-fill "></div>

                        </div><!-- bg-layers -->
                        <div class="banner-layers container">
                            <div class="fill banner-link"></div>
                            <div id="text-box-700131968"
                                 class="text-box banner-layer x90 md-x90 lg-x90 y50 md-y50 lg-y50 res-text">
                                <div class="text box-shadow-2">

                                    <div class="text-inner text-right">

                                        <h8 style="font-size: 30px"><strong>દોશીસમાજ દ્વારા થતી પ્રવુતિ</strong></h8>
                                        <p>દોશી સમાજ દ્વારા વર્ષ ૨૦૧૫થી સાધારણ સભા સમાજ સ્નેહમિલન તથાં સમૂહલગ્નના વિવિધ
                                            કાર્યક્રમ યોજવામાં આવે છે.</p>
                                    </div>
                                </div><!-- text-box-inner -->

                                <style scope="scope">

#text-box-700131968 .text {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 100%;
}
#text-box-700131968 .text-inner {
  padding: 30px 30px 30px 30px;
}
#text-box-700131968 {
  width: 60%;
}


@media (min-width:550px) {

  #text-box-700131968 {
    width: 39%;
  }

}


                                </style>
                            </div><!-- text-box -->

                            <div id="text-box-1331123363"
                                 class="text-box banner-layer x90 md-x90 lg-x90 y90 md-y90 lg-y90 res-text">
                                <div class="text text-shadow-3">
                                </div><!-- text-box-inner -->


                                <!--
                                ========================================================================================================================================================================================================================================================================================================================
                                                               BANNER END'S HERE
                                ===========================================================================================================================================================================================================================================================================================================================================================

                                -->
                                <style scope="scope">

#text-box-1331123363 {
  width: 32%;
}
#text-box-1331123363 .text {
  font-size: 103%;
}


                                </style>
                            </div><!-- text-box -->

                        </div><!-- .banner-layers -->
                    </div><!-- .banner-inner -->


                    <style scope="scope">

#banner-927110790 {
  padding-top: 600px;
  background-color: rgb(255, 255, 255);
}
#banner-927110790 .bg.bg-loaded {
  background-image: url({% static 'asset/2.png'%});
}
#banner-927110790 .bg {
  background-position: 86% 51%;
}


                    </style>
                </div><!-- .banner -->


            </div>

            <div class="loading-spin dark large centered"></div>

            <style scope="scope">
            </style>
        </div><!-- .ux-slider-wrapper -->


        <div class="col small-12 large-12">
            <div class="col-inner text-left box-shadow-2 box-shadow-2-hover"
                 style="background-color:rgb(255, 255, 255);padding:30px 30px 30px 30px;">
                <div class="col small-12 large-12">
                    <div class="col-inner text-center">
                    </div>
                </div>
                <div class="row" id="row-810528389">
                    <div class="col medium-6 small-12 large-6">
                        <div class="col-inner">
                            <h2 class="uppercase">Latest News And Events</h2>
                            <p> News | Stories</p>
                        </div>
                    </div>
                    <div class="col medium-6 small-12 large-6">
                        <div class="col-inner">
                        </div>
                    </div>
                </div>
                <div class="gap-element" style="display:block; height:auto; padding-top:50px" class="clearfix"></div>


                <div class="row large-columns-3 medium-columns-1 small-columns-1 row-small slider row-slider slider-nav-simple slider-nav-outside slider-nav-push"
                     data-flickity-options='{"imagesLoaded": true, "groupCells": "100%", "dragThreshold" : 5, "cellAlign": "left","wrapAround": true,"prevNextButtons": true,"percentPosition": true,"pageDots": false, "rightToLeft": false, "autoPlay" : 6000}'>
                    <!--   MESSAGE LATEST NEWS-->
                    <!--   MESSAGE LATEST NEWS-->
                    <!--   MESSAGE LATEST NEWS-->
                    <!--   MESSAGE LATEST NEWS-->
                    <!--   MESSAGE LATEST NEWS-->
                   {% for i in news|slice:"0:" %}
                    <div class="col post-item" data-animate="fadeInUp">
                        <div class="col-inner">
                            <a href="/ShowBlog/{{i.BlogId}}" class="plain">
                                <div class="box box-normal box-text-bottom box-blog-post has-hover">
                                    <div class="box-text text-center">
                                        <div class="box-text-inner blog-post-inner">
                                            <p class="cat-label tag-label is-xxsmall op-7 uppercase">
                                                Community Information And Activities </p>
                                            <h5 class="post-title is-large ">{{ i.NewsTitle }}</h5>
                                            <div class="post-meta is-small op-8">{{ i.NewsDate }}</div>
                                            <div class="is-divider"></div>
                                            <p class="from_the_blog_excerpt ">{{ i.NewsThumbnailTitleNews }}[...] </p>

                                            <button href="/ShowBlog/{{i.BlogId}}" class="button secondary is-outline is-small mb-0">
                                                Read More
                                            </button>
                                        </div><!-- .box-text-inner -->
                                    </div><!-- .box-text -->
                                </div><!-- .box -->
                            </a><!-- .link -->
                        </div><!-- .col-inner -->
                    </div><!-- .col -->

                    {% endfor %}
                    <!--   MESSAGE LATEST NEWS-->
                    <!--   MESSAGE LATEST NEWS-->
                    <!--   MESSAGE LATEST NEWS-->
                    <!--   MESSAGE LATEST NEWS-->
                </div>
            </div>
        </div>

        <section class="section" id="section_1069494254">
            <div class="bg section-bg fill bg-fill  bg-loaded">
            </div><!-- .section-bg -->

            <div class="section-content relative">

                <! ========= Cool Timeline PRO 3.2 =========>

                <div style="opacity:0"
                     class="cool-timeline-horizontal white-timeline history-of-the-institute-of-jainology ht-design-2"
                     id="ctl-horizontal-slider-5e98280023dce"
                     data-rtl="false"
                     date-slider="ctl-h-slider-5e98280023dce"
                     data-nav="nav-slider-5e98280023dce"
                     data-items="4"
                     data-start-on="0"
                     data-autoplay="true">

                </div>
            </div>

            <style scope="scope">

            </style>
    </div>
    </div><!-- .section-content -->


    <style scope="scope">

#section_1069494254 {
  padding-top: 0px;
  padding-bottom: 0px;
}


    </style>
    </section>


    <div class="message-box relative" style="padding-top:15px;padding-bottom:15px;">
        <div class="message-box-bg-image bg-fill fill"></div>
        <div class="message-box-bg-overlay bg-fill fill" style="background-color:	rgb(255,165,0);"></div>
        <div class="container relative">
            <div class="inner last-reset">

                <style scope="scope">

                </style>
            </div>
        </div>
    </div>
    </div>


    </div>

</main><!-- #main -->
{% endblock %}
