{% extends 'AdminDashbord/base_admin.html' %}
{% block content %}
{% load static from static %}
<form style="margin-left:100px; margin-top:20px" action="/Eventcode/" method="POST"
      enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
          <div class="form-group col-md-6">
            <label>Event Code :</label>
            <input type="text" class="form-control mb-2 mr-sm-2" name="Event_Code" placeholder="">
        </div>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Submit</button>
</form>
<form style="margin-left:100px; margin-top:20px" action="/EventCoverImagesPage/" method="POST"
      enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>EventName :</label>
            <input type="text" class="form-control mb-2 mr-sm-2" name="Event_Cover_Title" placeholder="">
        </div>
        <div class="form-group col-md-6">
            <label>EventId :</label>
            <select name="Event_Id" class="form-control ">{% for EventId in EventId %}
                <option value="{{ EventId.Event_Id }}">{{ EventId.Event_Id }}</option>
                {% endfor %}</select>
        </div>
         <div class="form-group col-md-6">
            <label>EventId :</label>
            <select name="Re_Event_Id_Enter" class="form-control ">{% for EventId in EventId %}
                <option value="{{ EventId.Event_Id }}">{{ EventId.Event_Id }}</option>
                {% endfor %}</select>
        </div>
    </div>
    <div class="form-group  col-md-5">
        <label class="custom-file-label">Event Cover Page</label>
        <input type="file" class="custom-file-input" name="Event_Cover_Page" id="" required>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Submit</button>
</form>
<form style="margin-left:100px; margin-top:20px" action="/EventPhotosPage/" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>EventId :</label>
            <select name="Event_Id" class="form-control ">{% for EventId in EventId %}
                <option value="{{ EventId.Event_Id }}">{{ EventId.Event_Id }}</option>
                {% endfor %}</select>
        </div>
    </div>
     <div class="form-row">
        <div class="form-group col-md-6">
            <label>EventId :</label>
            <select name="Re_Event_Id_Enter" class="form-control ">{% for EventId in EventId %}
                <option value="{{ EventId.Event_Id }}">{{ EventId.Event_Id }}</option>
                {% endfor %}</select>
        </div>
    </div>
    <div class="form-group  col-md-5">
        <label class="custom-file-label">Event Images</label>
        <input type="file" class="custom-file-input" name="Upload_Image" required>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Submit</button>
</form>
{% endblock %}