{% extends 'AdminDashbord/base_admin.html' %}
{% block content %}
{% load static from static %}
        <div class="card mb-4" style="margin-left:100px; margin-top:20px">
            <div class="card-header"><i class="fas fa-table mr-1"></i>HeadInfo DataTable</div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>F Code</th>
                            <th>Zone Name</th>
                            <!--<th>Native_City</th>
                            <th>Mosad_City</th> -->
                            <th>Head Name</th>
                            <th>Phone No</th>
                            <th>Image</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>F Code</th>
                            <th>Zone Name</th>
                            <!--<th>Native_City</th>
                            <th>Mosad_City</th> -->
                            <th>Head Name</th>
                            <th>Phone No</th>
                            <th>Image</th>
                            <th>Action</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for head in head %}
                        <tr>
                            <td>{{ head.F_Code }}</td>
                            <td>{{ head.Zone_Name }}</td>
                           <!-- <td>{{ head.Native_City }}</td>
                            <td>{{ head.Mosad_City }}</td> -->
                            <td>{{ head.HeadPerson_Of_Family }}</td>
                            <th>{{ head.Phone_NO_Home }}</th>
                            <td><img src="/media/{{ head.profile_image }}" style="height: 80px;"></td>
                            <td><a href="/Show_Family/{{head.id}}" class="btn btn-success">Show Data</a><br><a href="/DeleteHeadData/{{head.id}}" class="btn btn-danger">Delete</a></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
<!----        

---->
{% endblock %}